<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="area-calculator">
        <h3>면적 계산기</h3>
        <ul>
            <li class="mTabMeun"><a href="#">면적</a></li>
            <li class="mTabMeun"><a href="#">길이</a></a></li>
            <li class="mTabMeun"><a href="#">높이</a></li>
        </ul>
        <div class="content">
            <form class="eAreaCal">
                <ul>
                    <li><label for="">width : <input type="number" min="0" value="0"> m</label></li>
                    <li><label for="">height : <input type="number" min="0" value="0"> m</label></li>
                </ul>
            </form>
            <button>계산</button>
            <div class="cal-result">
               면적 <input type="text"> m<sup>2</sup> <br>
               가격 : 원
            </div>
        </div>
    </div>
</body>
</html>